@use 'colors';

:host {
  display: contents;
}

.anchor {
  height: 1px;
  width: 1px;
  background-color: transparent;
  pointer-events: none;
  position: absolute;
  top: 0;

  &.center {
    top: 0;
    left: 50%;
  }
}

.start-overlay {
  position: absolute;
  right: 16px;
  top: 16px;
}

.large-overlay-text {
  font-size: 24px;
  line-height: 48px;
}

.algorithm {
  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  flex-direction: column;

  .controls {
    display: flex;
    align-items: center;

    .mat-slider {
      flex-grow: 1;
    }
  }
}

.progress-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 16px;
  left: 16px;

  color: colors.$graph-text;
}

.reset-button {
  position: absolute;
  bottom: 16px;
  right: 16px;

  mat-icon {
    margin-right: 8px;
  }
}
