@use 'colors';

:host {
  display: contents;
}

.start-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 16px;
  top: 16px;
}

.tooltip-container {
  display: block;

  .mat-raised-button {
    width: 100%;

    mat-icon {
      margin-right: 8px;
    }
  }
}

.large-overlay-text {
  font-size: 24px;
  line-height: 48px;
}

.algorithm {
  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  flex-direction: column;
}

.progress-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 16px;
  left: 16px;

  color: colors.$graph-text;
}

.reset-button {
  position: absolute;
  bottom: 16px;
  right: 16px;

  mat-icon {
    margin-right: 8px;
  }
}
