<div #anchorStartBlock class="anchor" tourAnchor="anchor-start-block"></div>

<cki-graph-view [printingType$]="printingType$"
                [compileResult$]="compileResult$"
                [includeHtmlBlockHeaders]="true"
                [hooks]="hooks"
                [ngSwitch]="phiInsertionPhase$ | async">
  <div class="anchor center" tourAnchor="anchor-center"></div>

  <div class="start-overlay" tourAnchor="anchor-graph-view" *ngSwitchCase="phiInsertionPhases.CONFIGURE">
    <mat-form-field appearance="standard" color="accent" tourAnchor="anchor-target-variable">
      <mat-label>Target variable</mat-label>
      <mat-select [formControl]="variableControl">
        <mat-option *ngFor="let variable of variables$ | async" [value]="variable.identityId">
          {{ variable.tid.name }}
          <em>{{ ' (id ' + variable.identityId + ')' }}</em>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="tooltip-container"
         tourAnchor="anchor-start-button"
         [matTooltip]="'Select a variable to get started'"
         [matTooltipDisabled]="!!variableControl.value">
      <button mat-raised-button
              color="accent"
              type="button"
              [disabled]="!variableControl.value"
              (click)="start()">
        <mat-icon>play_arrow</mat-icon>
        <span>START</span>
      </button>
    </div>
  </div>

  <ng-container *ngSwitchCase="phiInsertionPhases.WORKLOOP">
    <div class="progress-overlay" tourAnchor="anchor-progress-overlay">
      <span>Blocks left to process:</span>
      <div class="worklist large-overlay-text">
        W = {{ '{' }}
        {{ worklist$ | async }}
        {{ '}' }}
      </div>

      <span>Blocks with φ inserted:</span>
      <div class="phi-list large-overlay-text">
        F = {{ '{' }}
        {{ processed$ | async }}
        {{ '}' }}
      </div>

      <ng-container *ngIf="{ blockX: blockX$ | async } as data">
        <ng-container *ngIf="data.blockX !== undefined && data.blockX !== null">
          <span>Block <cki-var>X</cki-var>:</span>
          <div class="phi-list large-overlay-text">
            <cki-var>X</cki-var> = {{ data.blockX }}
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="dominanceFrontierX$ | async as dfX">
        <span>Dominance frontier of block <cki-var>X</cki-var>:</span>
        <div class="phi-list large-overlay-text">
          DF(<cki-var>X</cki-var>) = {{ '{' }}
          {{ dfX }}
          {{ '}' }}
        </div>
      </ng-container>

      <ng-container *ngIf="{ blockY: blockY$ | async } as data">
        <ng-container *ngIf="data.blockY !== undefined && data.blockY !== null">
          <span>Block <cki-var>Y</cki-var>:</span>
          <div class="phi-list large-overlay-text">
            <cki-var>Y</cki-var> = {{ data.blockY }}
          </div>
        </ng-container>
      </ng-container>

    </div>

    <div class="history large-overlay-text">

    </div>

    <div class="algorithm">
      <div class="controls"
           tourAnchor="anchor-controls"
           *ngIf="{ currentStep: (currentStep$ | async) ?? 0, stepCount: insertionStepCount$ | async } as data">
        <button mat-icon-button
                color="accent"
                matTooltip="Previous step"
                [disabled]="data.currentStep === 0"
                (click)="prevStep()">
          <mat-icon>chevron_left</mat-icon>
        </button>

        <mat-slider [thumbLabel]="true"
                    [step]="1"
                    [min]="1"
                    [max]="data.stepCount"
                    [value]="data.currentStep + 1"
                    (keydown.arrowRight)="$event.stopPropagation()"
                    (keydown.arrowLeft)="$event.stopPropagation()"
                    (change)="currentStepSliderChange($event)"></mat-slider>

        <button mat-icon-button
                color="accent"
                matTooltip="Next step"
                [disabled]="data.currentStep + 1 === data.stepCount"
                (click)="nextStep()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>

      <cki-insertion-algorithm tourAnchor="anchor-insertion-algorithm"></cki-insertion-algorithm>
    </div>

    <button mat-flat-button
            type="button"
            class="reset-button"
            (click)="reset()">
      <mat-icon>restart_alt</mat-icon>
      <span>Reset</span>
    </button>
  </ng-container>
</cki-graph-view>
