@use 'colors';
@use 'highlighted-link';

:host {
  display: block;
}

.mat-mdc-dialog-title {
  display: flex;
  align-items: baseline;

  $icon-size: 48px;

  mat-icon {
    width: $icon-size;
    height: $icon-size;
    line-height: $icon-size;
    text-align: center;
    border-radius: 8px;
    margin-left: auto;
  }
}

.mat-mdc-dialog-content {
  padding-top: 8px;
  padding-bottom: 16px;
}

.mat-mdc-slide-toggle {
  margin-top: 8px;
  margin-bottom: 16px;
}

a {
  margin-bottom: 16px;
}

.copy-button-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.was-copied {
  color: colors.$success-green;
}
