<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Filters>
        <MarkerFilter marker="ControlFlowVariableRenames" onMatch="DENY" onMismatch="NEUTRAL"/>
    </Filters>
    <Appenders>
        <Console name="stderr" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{ISO8601} [%-5p] in %c: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.junit" additivity="false" level="INFO">
            <AppenderRef level="INFO" ref="stderr"/>
        </Logger>
        <Root level="TRACE">
            <AppenderRef ref="stderr"/>
        </Root>
    </Loggers>
</Configuration>
