@use 'colors';
@use 'sass:math';
@use '../../styles/insertion';

:host {
  position: relative;
  display: block;

  $line-height: 28px;

  color: colors.$graph-text;
  font-size: 20px;
  line-height: $line-height;
  letter-spacing: 0.02em;

  .indent {
    display: flex;
    flex-direction: column;
    padding-left: 2ch;
    border-left: 1px solid rgba(colors.$graph-text, 0.5);
  }

  .pointer {
    $arrow-size: 30px;

    position: absolute;
    left: -$arrow-size;
    font-size: $arrow-size;

    padding-top: math.div($line-height, 2);
    top: calc((var(--current-line) - 1) * #{$line-height});

    transition: top insertion.$transition-duration ease-in-out;
  }
}

