@use 'colors';
@use 'sass:math';

$transition-duration: 150ms;

:host {
  position: relative;
  display: block;

  $line-height: 28px;

  color: colors.$graph-text;
  font-size: 20px;
  line-height: $line-height;
  letter-spacing: 0.02em;

  em {
    padding-right: 4px;
  }

  .indent {
    display: flex;
    flex-direction: column;
    padding-left: 2ch;
    border-left: 1px solid rgba(colors.$graph-text, 0.5);
  }

  .step {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid;

    transition: background-color $transition-duration ease-in-out, border-color $transition-duration ease-in-out;
    background-color: transparent;
    border-color: transparent;

    &.active {
      background-color: rgba(colors.$accent-default, 0.1);
      border-color: rgba(colors.$accent-default, 0.4);
    }
  }

  .pointer {
    $arrow-size: 30px;

    position: absolute;
    left: -$arrow-size;
    font-size: $arrow-size;

    padding-top: math.div($line-height, 2);
    top: calc((var(--active-step) - 1) * #{$line-height});

    transition: top $transition-duration ease-in-out;
  }
}

