<div ckiAlgorithmContainer [activeStep$]="activeStep$" @phaseInOut>
  <span class="pointer">→</span>

  <cki-algorithm-step [stepIndex]="phiInsertionSteps.PREPARE" [lines]="2">
    <em>F</em> ← {{ '{}' }}
    <br/>
    <em>W</em> ← Defs(<em>{{ variableName$ | async }}</em>)
  </cki-algorithm-step>
  <cki-algorithm-step [stepIndex]="phiInsertionSteps.WHILE_LOOP">
    <strong>while</strong>&nbsp;<em>W</em>&nbsp;≠ {{ '{}' }}
  </cki-algorithm-step>
  <div class="indent">
    <cki-algorithm-step [stepIndex]="phiInsertionSteps.PICK_X_FROM_W">
      remove a basic block&nbsp;<em>X</em>&nbsp;from&nbsp;<em>W</em>
    </cki-algorithm-step>
    <cki-algorithm-step [stepIndex]="phiInsertionSteps.ITERATE_DF">
      <strong>for</strong>&nbsp;<em>Y</em>&nbsp;: basic block ∈ DF(<em>X</em>)
    </cki-algorithm-step>
    <div class="indent">
      <cki-algorithm-step [stepIndex]="phiInsertionSteps.CHECK_PROCESSED">
        <strong>if</strong>&nbsp;<em>Y</em>&nbsp;∉&nbsp;<em>F</em>&nbsp;<strong>then</strong>
      </cki-algorithm-step>
      <div class="indent">
        <cki-algorithm-step [stepIndex]="phiInsertionSteps.INSERT_PHI">
          add <em>{{ variableName$ | async }}</em>&nbsp;← φ(...) at entry of <em>Y</em>
        </cki-algorithm-step>
        <cki-algorithm-step [stepIndex]="phiInsertionSteps.MARK_PROCESSED">
          <em>F</em> ← <em>F</em> ∪ {{ '{' }}<em>Y</em>{{ '}' }}
        </cki-algorithm-step>
        <cki-algorithm-step [stepIndex]="phiInsertionSteps.CHECK_DEFS">
          <strong>if</strong>&nbsp;<em>Y</em>&nbsp;∉ Defs(<em>{{ variableName$ | async }}</em>)&nbsp;<strong>then</strong>
        </cki-algorithm-step>
        <div class="indent">
          <cki-algorithm-step [stepIndex]="phiInsertionSteps.ADD_TO_W">
            <em>W</em> ← <em>W</em> ∪ {{ '{' }}<em>Y</em>{{ '}' }}
          </cki-algorithm-step>
        </div>
      </div>
    </div>
  </div>
</div>
