Legend:

<div>
  <div class="start-block"></div>
  Start Block
</div>

<div>
  <div class="exit-block"></div>
  Return/Exit Block
</div>

<div>
  <svg class="arrow-svg normal" viewBox="0 0 100 50">
    <path fill="none" stroke-width="6" d="M0,25l75,0"></path>
    <polygon points="75,10 75,40 100,25"></polygon>
  </svg>
  Unconditional branch
</div>

<div>
  <svg class="arrow-svg true" viewBox="0 0 100 50">
    <path fill="none" stroke-width="6" d="M0,25l75,0"></path>
    <polygon points="75,10 75,40 100,25"></polygon>
  </svg>
  Branch if true
</div>

<div>
  <svg class="arrow-svg false" viewBox="0 0 100 50">
    <path fill="none" stroke-width="6" d="M0,25l75,0"></path>
    <polygon points="75,10 75,40 100,25"></polygon>
  </svg>
  Branch if false
</div>

<div>
  <div class="highlight-current">int</div>
  Selected node
</div>

<div>
  <div class="highlight-idom">int</div>
  Immediate dominator
</div>

<div>
  <div class="highlight-frontier">int</div>
  Dominance frontier node
</div>

<div>
  <svg class="frontier-line" viewBox="0 0 100 50">
    <path fill="none" stroke-width="8" d="M0,25l100,0"></path>
  </svg>
  Dominance frontier line
</div>
