<ng-container *ngIf="{
    currentStep: (currentStep$ | async) ?? 0,
    stepCount: (stepCount$ | async) ?? 0
  } as data">
  <button mat-icon-button
          color="accent"
          matTooltip="Previous step"
          [disabled]="data.currentStep === 0"
          (click)="prevStep()">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <mat-slider color="accent"
              [discrete]="true"
              [step]="1"
              [min]="1"
              [max]="data.stepCount"
              (keydown.arrowRight)="$event.stopPropagation()"
              (keydown.arrowLeft)="$event.stopPropagation()">
    <input matSliderThumb
           #ngSliderThumb="matSliderThumb"
           [value]="data.currentStep"
           (change)="currentStepSliderChange(ngSliderThumb.value)" />
  </mat-slider>

  <button mat-icon-button
          color="accent"
          matTooltip="Next step"
          [disabled]="data.currentStep + 1 === data.stepCount"
          (click)="nextStep()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</ng-container>
