<cki-graph-view [includeHtmlBlockHeaders]="true"
                [instance]="instance"
                [hooks]="hooks"
                [printingType$]="printingType$">
  <cki-select-variable class="start-overlay"
                       *ngIf="(isRenaming$ | async) === false"
                       [variables$]="instance.variables$"
                       (identityIdChange)="selectedVariableChanged($event)"
                       (startClick)="start()"></cki-select-variable>

  <cki-rename-algorithm class="algorithm" *ngIf="isRenaming$ | async"></cki-rename-algorithm>
</cki-graph-view>
