<cki-graph-view [includeHtmlBlockHeaders]="true"
                [instance]="instance"
                [hooks]="hooks"
                [printingType$]="printingType$"
                [ngSwitch]="phase$ | async">
  <div *ngSwitchCase="algorithmPhase.PREPARING" class="start-overlay">
    <cki-select-function [instance]="instance"></cki-select-function>

    <cki-select-variable [variables$]="instance.variables$"
                         (identityIdChange)="selectedVariableChanged($event)"
                         (startClick)="start()"></cki-select-variable>
  </div>

  <ng-container *ngSwitchCase="algorithmPhase.RUNNING">
    <div class="progress-overlay">
      <ng-container *ngIf="{ blockBB: blockBB$ | async } as data">
        <ng-container *ngIf="data.blockBB !== undefined && data.blockBB !== null">
          <span>Current block:</span>
          <div class="large-overlay-text">
            <cki-var>BB</cki-var> = {{ data.blockBB }}
          </div>
        </ng-container>
      </ng-container>
    </div>

    <div class="algorithm">
      <cki-stepper-controls [stepCount$]="stepCount$"></cki-stepper-controls>

      <cki-rename-algorithm></cki-rename-algorithm>
    </div>

    <button mat-flat-button
            type="button"
            class="reset-button"
            (click)="reset()">
      <mat-icon>restart_alt</mat-icon>
      <span>Reset</span>
    </button>
  </ng-container>
</cki-graph-view>
