@use 'colors';

:host {
  display: block;
  position: relative;
}

.graph-wrapper {
  width: 100%;
  height: 100%;
}

.graph-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: colors.$graph-background;
}

.ui-overlay {
  user-select: none;

  cki-graph-options {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  cki-graph-legend {
    position: absolute;
    top: 16px;
    left: 16px;
  }
}
