@use 'graph-fragment';
@use 'colors';

:host {
  display: block;
  @include graph-fragment.text;
}

.variable-definition {
  color: colors.$variable-highlight;
}

.highlighted-fragment {
  background-color: rgba(colors.$accent-default, 0.1);
}
