@use 'colors' as *;
@use '@angular/material/core/theming/palette' as *;
@use 'sass:color';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.isa-type-selector {
  margin-top: 8px;
  margin-left: auto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.mat-toolbar {
  flex-shrink: 0;
}

.mat-tab-group {
  height: 100%;
}

.tab-label {
  display: flex;
  align-items: center;

  .mat-icon {
    margin-right: 8px;
  }
}

.mat-chip-list {
  margin-left: 8px;

  .mat-chip {
    pointer-events: none;

    &.errors {
      color: $dark-primary-text;
      background-color: color.adjust($error-red, $whiteness: 20%);
    }

    &.warnings {
      color: $dark-primary-text;
      background-color: color.adjust($warning-amber, $whiteness: 20%);
    }
  }
}

cki-graph-view {
  height: 100%;
}
