Legend:

<div>
  <div class="start-block"></div>
  Start Block
</div>

<div>
  <div class="exit-block"></div>
  Return/Exit Block
</div>

<div>
  <svg class="arrow-svg" viewBox="0 0 100 50">
    <path fill="none" stroke="#CCC" stroke-width="6" d="M0,25l75,0"></path>
    <polygon fill="#CCC" stroke="#CCC" points="75,10 75,40 100,25"></polygon>
  </svg>
  Unconditional branch
</div>

<div>
  <svg class="arrow-svg" viewBox="0 0 100 50">
    <path fill="none" stroke="#a2cd5a" stroke-width="6" d="M0,25l75,0"></path>
    <polygon fill="#a2cd5a" stroke="#a2cd5a" points="75,10 75,40 100,25"></polygon>
  </svg>
  Branch if true
</div>

<div>
  <svg class="arrow-svg" viewBox="0 0 100 50">
    <path fill="none" stroke="lightcoral" stroke-width="6" d="M0,25l75,0"></path>
    <polygon fill="lightcoral" stroke="lightcoral" points="75,10 75,40 100,25"></polygon>
  </svg>
  Branch if false
</div>
