@use '@angular/material' as mat;
@use 'highlight.js/scss/base16/darcula' as *;
@use 'colors';
@use 'fonts';

@include mat.core();

@include mat.all-component-themes(colors.$internals-explorer-theme);

[role="button"] {
  cursor: pointer;
}

[hidden] {
  display: none !important;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: colors.$graph-background;
}

svg {
  font: unset;
  line-height: unset;
}

.mat-tab-group {
  &.fill-height {
    .mat-tab-body-wrapper {
      flex-grow: 1;
    }
  }
}

.mat-tooltip {
  font-size: 16px;
}

.no-top-padding.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0;
}

.hljs {
  background-color: unset;
}
