@use '@angular/material' as mat;
@use 'highlight.js/scss/base16/darcula' as *;
@use 'colors';

@include mat.core();

@include mat.all-component-themes(colors.$internals-explorer-theme);

[hidden] {
  display: none !important;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: colors.$graph-background;
}

svg {
  font: unset;
  line-height: unset;
}

.mat-tab-group {
  &.fill-height {
    .mat-tab-body-wrapper {
      flex-grow: 1;
    }
  }
}
