@use '@angular/material' as mat;
@use 'highlight.js/scss/base16/darcula' as *;
@use 'colors';

@include mat.core();

$internals-explorer-primary: mat.define-palette(mat.$purple-palette);
$internals-explorer-accent: mat.define-palette(mat.$yellow-palette, A200, A100, A400);
$internals-explorer-warn: mat.define-palette(mat.$red-palette);

$internals-explorer-theme: mat.define-dark-theme((
  color: (
    primary: $internals-explorer-primary,
    accent: $internals-explorer-accent,
    warn: $internals-explorer-warn,
  )
));

@include mat.all-component-themes($internals-explorer-theme);

[hidden] {
  display: none !important;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: colors.$graph-background;
}

svg {
  font: unset;
  line-height: unset;
}

.mat-tab-group {
  &.fill-height {
    .mat-tab-body-wrapper {
      flex-grow: 1;
    }
  }
}
