<cki-algorithm-container [activeStep$]="activeStep$">
  <cki-algorithm-step [stepIndex]="renamingSteps.EACH_BB_PREORDER" [lines]="2" [offsetLines]="2">
    <span class="text-row">
      <span><strong>for</strong>&nbsp;<cki-var>BB</cki-var> ∈</span>
      <span>DFS preorder traversal<br/>of dominator tree</span>
    </span>
  </cki-algorithm-step>

  <div class="indent">
    <cki-algorithm-step [stepIndex]="renamingSteps.EACH_INSTR">
      <strong>for</strong>&nbsp;<cki-var>i</cki-var>: instruction of
      <cki-var>BB</cki-var> containing <cki-var>{{ variableName$ | async }}</cki-var>
    </cki-algorithm-step>

    <div class="indent">
      <cki-algorithm-step [stepIndex]="renamingSteps.CHECK_DEFINED">
        <strong>if</strong>&nbsp;<cki-var>{{ variableName$ | async }}</cki-var> ∈ Defs(<cki-var>i</cki-var>)
        <strong>then</strong>
      </cki-algorithm-step>

      <div class="indent">
        <cki-algorithm-step [stepIndex]="renamingSteps.INSTR_REPLACE_DEF" [lines]="2">
          create new version of <cki-var>{{ variableName$ | async }}</cki-var>
          <br/>
          replace definition with new version
        </cki-algorithm-step>
      </div>

      <cki-algorithm-step [stepIndex]="renamingSteps.CHECK_USED">
        <strong>if</strong>&nbsp;<cki-var>{{ variableName$ | async }}</cki-var> ∈ Uses(<cki-var>i</cki-var>)
        <strong>then</strong>
      </cki-algorithm-step>

      <div class="indent">
        <cki-algorithm-step [stepIndex]="renamingSteps.INSTR_REPLACE_USE">
          replace use by reaching definition
        </cki-algorithm-step>
      </div>
    </div>

    <cki-algorithm-step [stepIndex]="renamingSteps.EACH_SUCC_PHI">
      <strong>for</strong>&nbsp;<cki-var>{{ variableName$ | async }}</cki-var> ← φ(…) ∈
      Successors(<cki-var>BB</cki-var>)
    </cki-algorithm-step>

    <div class="indent">
      <cki-algorithm-step [stepIndex]="renamingSteps.SUCC_PHI_REPLACE_USE">
        replace use with reaching definition
      </cki-algorithm-step>
    </div>
  </div>

  <cki-algorithm-step [stepIndex]="renamingSteps.DONE"></cki-algorithm-step>
</cki-algorithm-container>
